.character-icon {
    border: 3px solid rgb(238, 13, 208);
    width: 100px;
    box-shadow: 5px 7px #bfbfbf;
    border-radius: 20px;
    background-color: lightblue;
    padding: 10px;
    margin: 15px;
}

.red {
    background-color: rgb(255, 125, 19);
}
.blue {
    background-color: rgb(127, 166, 218);
}
.yellow {
    background-color: rgb(139, 131, 114);
}
.green {
    background-color: rgb(150, 247, 150);
}
.white {
    background-color: rgb(179, 243, 238);
}
.violet {
    background-color: rgb(171, 130, 238);
}