.characters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 3px solid rgb(0, 11, 161);
    width: 45%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 200px;
    background-color: rgba(33, 2, 212, 0.5);
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
}